.mood-display {
  display: flex;
  justify-content: center;
  margin-bottom: 9.244rem;
}
.current-mood {
  border-radius: 2.4rem;
  padding: 0.2rem;

  background: transparent linear-gradient(121deg, #16a9b1 0%, #b5d654 100%) 0%
    0% no-repeat padding-box;
  /* animation: text-appear-animation 1s ease-in-out forwards; */
}

.mood-text {
  background-color: #2e2e2e;
  padding: 0.9rem 2.1rem 0.88rem 2.2rem;
  border-radius: 2.4rem;

  /* prevent text selection on mobile devices */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tracking-in-expand-fwd {
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
