.mood-display {
  display: flex;
  justify-content: center;
  margin-bottom: 7.244rem;
}
.current-mood {
  border-radius: 2.4rem;
  padding: 0.25rem;

  background: transparent linear-gradient(121deg, #16a9b1 0%, #b5d654 100%) 0%
    0% no-repeat padding-box;
}

.mood-text {
  background-color: #2e2e2e;
  padding: 0.9rem 2.1rem 0.88rem 2.2rem;
  border-radius: 2.4rem;
  /* font-size: 1.2rem; */
}
