.container {
  background-color: #f1f6f5;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mood-tracker {
  background-color: black;
  max-width: 42.8rem;
  /* height: 92.6rem; */
}

.welcome-message {
  margin: 3.8rem 0 2.9rem 0;
  text-align: center;
}

.curved-line {
  width: 100%;
  height: 8rem;
  border: thick dashed;

  border-color: #e4e4e4 transparent transparent transparent;
  border-radius: 60%;
  border-style: dashed;
}
