.container {
  background-color: #f1f6f5;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mood-tracker {
  background-color: black;
  width: 42.8rem;
  height: 92.6rem;
}

.welcome-message {
  margin: 3.8rem 0 2.9rem 0;
  text-align: center;
}
